$primary-color: #005695;
$secondary-color: #001b2f;

.header {
    background: linear-gradient(to right, $secondary-color, $primary-color);
    display: flex;
    align-items: center;
    flex-direction: initial;
    justify-content: space-between;
    padding-right: 2%;

    @media(max-width: 344px), (max-width: 412px) {
        justify-content: center;
        padding-right: 0;
    }
    @media(max-width: 650px) {
        flex-direction: column;
    }

    div {
        display: flex;
        flex-direction: initial;
        justify-content: center;
        figure {
            display: flex;
            align-items: center;
        }
        p {
            @media(max-width: 1190px) {
                width: 12vw;
            }
            @media(max-width: 1093px) {
                width: auto;
            }
            @media(min-width: 344px) and (max-width: 440px) {
                padding-top: 4%;
                padding-right: 2rem;
                font-size: 23px;;
            }
            text-align: center;
            font-size: 30px;
            color: #E4EEF1;
        }
    }

    nav {
        
        ul{
            gap: 5vw;            
            display: flex;
            list-style: none;
            padding: 0 2px 0 2px;
            
            @media(max-width: 1296px) {
                gap: 3vw;
            }
            @media(max-width: 344px), (max-width: 412px) {
                gap: 5vw;
            }

            li {
                a{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 20px;
                    color: #E4EEF1;
                    transition: all 0.3s ease-in-out;

                    @media(max-width: 496px) {
                        font-size: 20px;
                    }
                    @media(max-width: 344px), (max-width: 412px) {
                        font-size: 18px;
                    }
                }
                a:hover {
                    color: $secondary-color;
                }
            }
        }
    }
    .search_input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        border: solid white 2px;
        background: transparent;
        border-radius: 15px;
        outline: none;
        padding: 0% 1% 0 1%;
        transition: all 0.3s ease-in-out;
        gap: 1rem;

        @media(max-width: 1096px){
            display: none;
        }

        input {
            border: none;
            height: 6vh;
            color: white;
            outline: none;
            font-size: 1rem;
            background: transparent;
        }
        &:has(input:focus) {
            border-color: #001B2F;
        }

        input::placeholder {
            color: white; 
            font-style: italic; 
        }
        button {
            border: none; 
            background-color: transparent; 
            cursor: pointer;
            width: 1.2rem;
            height: 1.2rem;
            background-image: url("../../../public/assets/ui_imgs/search_button.png");
            background-repeat: no-repeat;
            background-size: cover;
        
        }
    }
}
